body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F3F3F3;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}

.left {
    float: left;
}
.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.container {

}

.global_sprite {
    background-image: url("../images/indiamart_sprite.png");
}

#topbar {
    background-color: #F3F3F3;
    border-bottom: 1px solid #d7d7d7;
}
#topbar .protection_icon {
    display: inline-block;
    height: 29px;
    width: 25px;
    background-position: -89px -356px;
    vertical-align: middle;
}
#topbar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#topbar ul li {
    display: inline-block;
}
#topbar ul li:first-child a {
    padding: 6px;
}
#topbar ul li a {
    font-size: 13px;
    color: #6c6c6c;
    display: block;
    padding: 12px;
    border-right: 1px solid #e0e0e0;
}
#topbar ul li:last-child a {
    border: none;
}

#header {
    padding: 15px 0px;
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
}
#header .logo {
    width: 15%;
}
#header .logo .logo_image {
    display: inline-block;
    width: 195px;
    height: 40px;
    background-position: -2px -547px;
}

#search {
    width: 50%;
    margin-left: 30px;
}
#search .form {
    position: relative;
}
#search input[type="text"] {
    width: 80%;
    height: 40px;
    font-size: 16px;
    border: 2px solid #00A699;
    padding: 0px 10px;
    border-radius: 4px;
}
#search input[type="submit"] {
    display: inline-block;
    height: 44px;
    width: 70px;
    background-color: #00A699;
    border: none;
    position: absolute;
    right: 20px;
    border-radius: 0px 4px 4px 0px;
    background-position: -80px -603px;
}
#search .form {
    width: 76%;
}
#search .form, #search .get_quotes {
    display: inline-block;
}
#search .get_quotes a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    background-color: #00A699;
}

#header .join_im {
    width: 30%;
}
#header .join_im ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#header .join_im ul li {
    display: inline-block;
    margin: 0px 15px;
    padding: 10px 0px;
}

#section_1 {
    padding: 20px 0px 0px;
}
#main-navigation {
    background-color: #202046;
    width: 17%;
}
#main-navigation ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
}
#main-navigation ul li {
    /* position: relative; */
}
#main-navigation ul li a {
    display: block;
    color: #fff;
    padding: 10px 10px 10px 35px;
    font-size: 14px;
    position: relative;
}
#main-navigation ul li:hover a {
    background-color: #fff;
    color: #000;
}
#main-navigation ul li a:before {
    content: "";
    background-image: url("../images/indiamart_sprite.png");
    background-position: -4px -480px;
    position: absolute;
    height: 20px;
    width: 20px;
    left: 5px;
}

#main-navigation .dropdown {
    position: absolute;
    width: 1000px;
    left: 215px;
    top: 0px;
    background-color: #fff;
    padding: 10px;
    display: none;
}
#main-navigation ul li:hover .dropdown {
    display: block;
}
#main-navigation .dropdown h3 {
    font-size: 16px;
}
#main-navigation .col {
    float: left;
}
#main-navigation .dropdown .col {
    margin-right: 15px;
    width: 30%;
}
#main-navigation .dropdown ul li {
    margin-bottom: 10px;
}
#main-navigation .dropdown ul li a {
    color: #000;
    padding: 0px;
}
#main-navigation .dropdown a::before {
    display: none;
}
#main-navigation .nav-links {
    width: 58%;
}
#main-navigation .product_images {
    width: 42%;
}
#main-navigation .product_images .col {
    width: 46%;
}
#main-navigation .product_images a {
    display: block;
    border: 2px solid #d7d7d7;
    background-image: url("../images/sprites_1.jpg");
}
#main-navigation .product_images .img_1 {
    background-position: -260px 5px;
    width: 150px;
    height: 473px;
}
#main-navigation .product_images .img_2 {
    background-position: -14px 15px;
    height: 259px;
    width: 158px;
}


#banner {
    width: 80%;
    margin-left: 15px;
}
#banner img {
    width: 100%;
}

#content {

}

#main {

}

#sidebar {

}

#footer {

}