.container {
    border: 2px solid red;
    padding: 10px;
}

.row {
    display: flex;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: space-between;
}

.col {
    background-color: #eee;
    border: 2px solid blue;
    padding: 10px;
    margin: 0px 10px;
}

.col-1 {
    /* width: 60%; */
    width: 30%;
}
.col-2 {
    width: 60%;
    /* height: 100px; */
    margin: 0px 50px;
}
.col-3 {
    width: 30%;
}

img {
    width: 100%;
}