body {
    margin: 0px;
}

#header {
    background-color: lightblue;
    text-align: center;
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    /* bottom: 0px; */
    z-index: 10;
}

#content {
    margin-top: 120px;
}

#sidebar {
    position: fixed;
    width: 20%;
    text-align: center;
    height: 80%;
    overflow-y: scroll;
}
#sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#sidebar ul li {
    padding: 15px;
    background-color: lightcoral;
}
#sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

#main {
    margin-left: 30%;
}

.section {
    text-align: center;
    padding: 12px;
    border: 2px solid red;
    margin-bottom: 10px;
    position: relative;
}

.section .arrow {
    position: absolute;
    right: 60px;
    /* left: 0px; */
    top: 30%;
    width: 5%;
}
.section .arrow img {
    width: 100%;
}

.play-button {
    width: 10%;
    position: absolute;
    left: 45%;
    top: 30%;
}
.play-button img {
    width: 100%;
}